Repository mozmeao/nucleus-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frankfurt dev, deploy iowa-b dev, deploy frankfurt stage, deploy iowa-b stage, deploy frankfurt prod, deploy iowa-b prod

.gitlab-ci.yml:

stages:
  - deploy

.deploy-aws:
  stage: deploy
  tags:
    - aws
    - frankfurt
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    # --timeout requires kubectl 1.12+
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/deploy.yaml -w

.deploy-gcp:
  stage: deploy
  tags:
    - gcp
    - meao
  script:
    - kubectl_1.12 apply -f ${DEPLOYMENT}
    - kubectl_1.12 rollout status -f ${DEPLOYMENT}/deploy.yaml -w --timeout=10m

deploy frankfurt dev:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: frankfurt/nucleus-dev
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
  only:
    changes:
      - frankfurt/nucleus-dev/*
    
deploy iowa-b dev:
  extends: .deploy-gcp
  variables:
    DEPLOYMENT: iowa-b/nucleus-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-b.kubeconfig
  only:
    changes:
      - iowa-b/nucleus-dev/*

deploy frankfurt stage:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: frankfurt/nucleus-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
  only:
    changes:
      - frankfurt/nucleus-stage/*

deploy iowa-b stage:
  extends: .deploy-gcp
  variables:
    DEPLOYMENT: iowa-b/nucleus-stage
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-b.kubeconfig
  only:
    changes:
      - iowa-b/nucleus-stage/*

deploy frankfurt prod:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: frankfurt/nucleus-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
  only:
    changes:
      - frankfurt/nucleus-prod/*

deploy iowa-b prod:
  extends: .deploy-gcp
  variables:
    DEPLOYMENT: iowa-b/nucleus-prod
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-b.kubeconfig
  only:
    changes:
      - iowa-b/nucleus-prod/*

set image to mozmeao/nucleus:404d52e9e8ee9cc102d4513ee56036a588c67eff in iowa-b
  iowa-b/nucleus-dev/deploy.yaml
Due: deploy iowa-b dev

set image to mozmeao/nucleus:404d52e9e8ee9cc102d4513ee56036a588c67eff in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:26af93295bd159b9db1e00a9d6d38e93da4a18bc in iowa-b
  iowa-b/nucleus-dev/deploy.yaml
Due: deploy iowa-b dev

set image to mozmeao/nucleus:26af93295bd159b9db1e00a9d6d38e93da4a18bc in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:8cbf16719cafedd6a1763d583e87d2614a7aa2e9 in iowa-b
  iowa-b/nucleus-dev/deploy.yaml
Due: deploy iowa-b dev

set image to mozmeao/nucleus:8cbf16719cafedd6a1763d583e87d2614a7aa2e9 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:ab5dde44719b47650516728d945da865f39beb86 in iowa-b
  iowa-b/nucleus-dev/deploy.yaml
Due: deploy iowa-b dev

set image to mozmeao/nucleus:ab5dde44719b47650516728d945da865f39beb86 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

Switch readinessProbe from tcpSocket to httpGet
  frankfurt/nucleus-prod/deploy.yaml
Due: deploy frankfurt prod

Switch dev & stage readiness probes to http
  frankfurt/nucleus-dev/deploy.yaml
  frankfurt/nucleus-stage/deploy.yaml
Due: deploy frankfurt dev, deploy frankfurt stage

Restore accidentally deleted port
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

Increase prod replicas to 5
  frankfurt/nucleus-prod/deploy.yaml
Due: deploy frankfurt prod

switch from readiness to liveness probe so that pods will restart
  frankfurt/nucleus-dev/deploy.yaml
  frankfurt/nucleus-prod/deploy.yaml
  frankfurt/nucleus-stage/deploy.yaml
Due: deploy frankfurt dev, deploy frankfurt stage, deploy frankfurt prod

set image to mozmeao/nucleus:5625acec8ceddeb49eadcbe8f1534acfc7ee2d03 in iowa-b
  iowa-b/nucleus-dev/deploy.yaml
Due: deploy iowa-b dev

set image to mozmeao/nucleus:5625acec8ceddeb49eadcbe8f1534acfc7ee2d03 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:03972481080db4df7a2f9f40164afb307b0422f7 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:e3c11f6bf6c20d1a50ebe9086865686e52529d54 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:fe4d0f6246c85d334570502884455ee775010392 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:f4fd2579 in frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

Set GITHUB_OUTPUT_REPO for dev in Frankfurt
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

Switching nucleus dev to the nodeport pattern
  frankfurt/nucleus-dev/nodeport-svc.yaml
Due: deploy frankfurt dev

Set GITHUB_ACCESS_TOKEN for frankfurt dev
  frankfurt/nucleus-dev/deploy.yaml
Due: deploy frankfurt dev

Add worker deployment for dev
  .gitlab-ci.yml
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
  rollout-status.sh
Due: deploy frankfurt dev

Remove iowa-b cluster deployments and info
  README.md
  iowa-b/nucleus-dev/deploy.yaml
  iowa-b/nucleus-dev/ns.yaml
  iowa-b/nucleus-stage/ns.yaml
Due: deploy iowa-b dev, deploy iowa-b stage

Add REDIS_URL and GITHUB_PUSH_ENABLE for dev
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:d135352e in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:b8b0eb10 in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:455a2c07 in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:3c96a8f4 in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:fc6243fc in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Switch to new Gitlab runners
  .gitlab-ci.yml
Due: none

Rename deploy.yaml to web-deploy.yaml for stage and prod
  frankfurt/nucleus-prod/web-deploy.yaml
  frankfurt/nucleus-stage/web-deploy.yaml
Due: deploy frankfurt stage, deploy frankfurt prod

set image to mozmeao/nucleus:d6f88b89 in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:e4cec076 in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:ca44404f in frankfurt
  frankfurt/nucleus-dev/web-deploy.yaml
  frankfurt/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Moving nucleus to eks cluster
  .gitlab-ci.yml
  frankfurt/nucleus-dev/nodeport-svc.yaml
  frankfurt/nucleus-prod/nodeport-svc.yaml
  mozmeao-fr/nucleus-dev/service.yaml
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
  mozmeao-fr/nucleus-prod/ns.yaml
  mozmeao-fr/nucleus-prod/service.yaml
  mozmeao-fr/nucleus-prod/web-deploy.yaml
  mozmeao-fr/nucleus-stage/ns.yaml
  mozmeao-fr/nucleus-stage/web-deploy.yaml
Due: deploy frankfurt dev, deploy frankfurt prod

finializing move to eks
  mozmeao-fr/nucleus-dev/ns.yaml
  mozmeao-fr/nucleus-dev/service.yaml
  mozmeao-fr/nucleus-prod/service.yaml
  mozmeao-fr/nucleus-stage/web-deploy.yaml
Due: none

set image to mozmeao/nucleus:f120d80e in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: none

set image to mozmeao/nucleus:f120d80e in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: none
