Repository mozmeao/nucleus-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frankfurt dev, deploy frankfurt stage, deploy frankfurt prod

.gitlab-ci.yml:

stages:
  - deploy

.deploy-aws:
  stage: deploy
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - ./rollout-status.sh ${DEPLOYMENT}

deploy frankfurt dev:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-dev
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - mozmeao-fr/nucleus-dev/*
    refs:
      - master

deploy frankfurt stage:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - mozmeao-fr/nucleus-stage/*
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - mozmeao-fr/nucleus-prod/*
    refs:
      - master

set image to mozmeao/nucleus:41236207 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:41236207 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

Use sync gunicorn worker class for dev
  mozmeao-fr/nucleus-dev/web-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:6c8370c5 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:6c8370c5 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:4473f8b0 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Switch dev back to Meinheld worker
  mozmeao-fr/nucleus-dev/web-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:4473f8b0 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

Add Sentry DSN to nucleus prod
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

Switch the nucleus services to use tcp for backend communications
  mozmeao-fr/nucleus-dev/service.yaml
  mozmeao-fr/nucleus-prod/service.yaml
Due: deploy frankfurt dev, deploy frankfurt prod

lets make an nginx ingress
  .gitlab-ci.yml
  mozmeao-fr/nucleus-dev/helm_configs/ingress.yml
  mozmeao-fr/nucleus-dev/ingress-controller.sh
  mozmeao-fr/nucleus-dev/ingress.yml
Due: deploy frankfurt dev

make executable
  mozmeao-fr/nucleus-dev/ingress-controller.sh
Due: deploy frankfurt dev

rm template
  mozmeao-fr/nucleus-dev/ingress-controller.sh
Due: deploy frankfurt dev

.
  .gitlab-ci.yml
  mozmeao-fr/nucleus-dev/ingress-controller.sh
Due: deploy frankfurt dev

.
  mozmeao-fr/nucleus-dev/ingress-controller.sh
Due: deploy frankfurt dev

add namespace to each object
  mozmeao-fr/nucleus-dev/ingress.yml
Due: deploy frankfurt dev

convert to nlb
  mozmeao-fr/nucleus-dev/helm_configs/ingress.yml
Due: none

Switch the nucleus services to use nginx-ingress
  .gitlab-ci.yml
  mozmeao-fr/nucleus-dev/helm_configs/ingress.yml
  mozmeao-fr/nucleus-dev/ingress-controller.sh
  mozmeao-fr/nucleus-dev/ingress.yml
  mozmeao-fr/nucleus-prod/helm_configs/ingress.yml
  mozmeao-fr/nucleus-prod/ingress-controller.sh
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt dev, deploy frankfurt prod

let's try the dns delegation to get these certs
  .gitlab-ci.yml
  mozmeao-fr/nucleus-dev/ingress.yml
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt dev, deploy frankfurt prod

adding moz.works dns to prod, removing test branch from dev
  .gitlab-ci.yml
  mozmeao-fr/nucleus-prod/helm_configs/ingress.yml
Due: none

add some resource tags to the nlb
  mozmeao-fr/nucleus-dev/helm_configs/ingress.yml
  mozmeao-fr/nucleus-prod/helm_configs/ingress.yml
Due: none

Add mozilla.org to cert
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:a66b5235 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

nucleus-dev/prod: Pin ingress-nginx *chart* to 3.36.0 to defer Kubernetes upgrade
  mozmeao-fr/nucleus-dev/ingress-controller.sh
  mozmeao-fr/nucleus-prod/ingress-controller.sh
Due: deploy frankfurt dev, deploy frankfurt prod

set image to mozmeao/nucleus:65c37629 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Update deprecated kubernetes api in preperation of k8s upgrade
  mozmeao-fr/nucleus-dev/ingress.yml
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt dev, deploy frankfurt prod

set image to mozmeao/nucleus:b9b01233 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:b9b01233 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:c8824330 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:c8824330 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:7a35cfaa in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:4802cfee in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:6270506e in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

let's try the http solver to unstick cert manager and letsencrypt
  mozmeao-fr/nucleus-dev/ingress.yml
Due: deploy frankfurt dev

Updating prod to use the http01 resolver
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:5f98d679 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev
