Repository mozmeao/nucleus-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frankfurt dev, deploy frankfurt stage, deploy frankfurt prod

.gitlab-ci.yml:

stages:
  - deploy

.deploy-aws:
  stage: deploy
  tags:
    - aws
    - mozmeao
  variables:
    INGRESSFILENAME: ingress-controller.sh
  script:
    - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
    - kubectl apply -f ${DEPLOYMENT}
    - ./rollout-status.sh ${DEPLOYMENT}

deploy frankfurt dev:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-dev
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
    NS: nucleus-dev
  only:
    changes:
      - mozmeao-fr/nucleus-dev/*
    refs:
      - master

deploy frankfurt stage:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-stage

    NS: nucleus-stage
  only:
    changes:
      - mozmeao-fr/nucleus-stage/*
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy-aws
  variables:
    DEPLOYMENT: mozmeao-fr/nucleus-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
    NS: nucleus-prod
  only:
    changes:
      - mozmeao-fr/nucleus-prod/*
    refs:
      - master

set image to mozmeao/nucleus:7c1bcb68 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:7dd5e693 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:914c1e58 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

mozmeao-fr/nucleus: Update kubernetes API for v1.22 Deprecations
  mozmeao-fr/nucleus-dev/ingress.yml
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt dev, deploy frankfurt prod

set image to mozmeao/nucleus:3ef8ae47 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:ce4c617b in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Update Sentry DSN
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:e3efda2b in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:1004636d in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:8664bcec in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:a604c5ae in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:a604c5ae in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:22360c9a in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:180d3e42 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:8091aba2 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:8091aba2 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:0fb6f2ee in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

feature(mirroring): Use github actions for mirroring
  .github/workflows/gitlab-mirror.yml
Due: none

chore(mirroring): Pin to long sha
  .github/workflows/gitlab-mirror.yml
Due: none

chore(ingress): Update ingress for security
  mozmeao-fr/nucleus-dev/ingress-controller.sh
  mozmeao-fr/nucleus-prod/ingress-controller.sh
Due: deploy frankfurt dev, deploy frankfurt prod

chore(k8s): Update deprecated APIs
  mozmeao-fr/nucleus-dev/ingress.yml
  mozmeao-fr/nucleus-prod/ingress.yml
Due: deploy frankfurt dev, deploy frankfurt prod

set image to mozmeao/nucleus:2bedea88 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:2bedea88 in mozmeao-fr
  mozmeao-fr/nucleus-stage/web-deploy.yaml
Due: deploy frankfurt stage

set image to mozmeao/nucleus:2bedea88 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:9d6fcce2 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:9d6fcce2 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:8e8f54e5 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:8e8f54e5 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:0ca26585 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:0ca26585 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:dc96223e in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:292dc072 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Manualy set prod image to mozmeao/nucleus:292dc072
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:21b85ee5 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:db91d090 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

Manually set prod to db91d090
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/nucleus:69feb645 in mozmeao-fr
  mozmeao-fr/nucleus-dev/web-deploy.yaml
  mozmeao-fr/nucleus-dev/worker-deploy.yaml
Due: deploy frankfurt dev

set image to mozmeao/nucleus:69feb645 in mozmeao-fr
  mozmeao-fr/nucleus-prod/web-deploy.yaml
Due: deploy frankfurt prod
